body{
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#copyright_footer{
    bottom: 0;
    position: absolute;
    margin-left: 15px;
}